---
- name: Set the pacoloco on top of pacman mirrorlist
  become: true
  become_user: root
  ansible.builtin.lineinfile:
    dest: /etc/pacman.d/mirrorlist
    state: "present"
    line: "Server = {{ pacoloco_server_url }}/repo/{{ pacoloco_repo }}/$repo/os/$arch"
    insertbefore: BOF
  when: pacoloco_setup_client
