---
- name: Install rustup
  become: true
  become_user: root
  community.general.pacman:
    name:
      - rustup

- name: Ensure directory exists
  ansible.builtin.file:
    path: ~/.rustup
    state: directory
    mode: 0755

- name: Install chosen toolchain
  ansible.builtin.command: rustup toolchain install "{{ rust_toolchain_type }}"
  when: rust_install_toolchain
  changed_when: ("unchanged" not in rust_up_toolchain_install.stdout)
  register: rust_up_toolchain_install

- name: Template fish plugin
  ansible.builtin.include_role:
    name: helper_fish_plugin
  vars:
    helper_fish_plugin_directory_name: rust
    helper_fish_plugin_template_name: env.fish
