[Unit]
Description=User suspend actions DPMS
Before=sleep.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/xset dpms force standby

[Install]
WantedBy=sleep.target
