---
extends: default

ignore:
  - .github/
  - roles/jira/templates/config.yml

rules:
  line-length: disable

# Whole section below is added just to satisfy ansible-lint
comments:
  min-spaces-from-content: 1
  indentation: false

braces:
  max-spaces-inside: 1

octal-values:
  forbid-implicit-octal: true
  forbid-explicit-octal: true
