---
- name: Install openssh
  become: true
  become_user: root
  community.general.pacman:
    name:
      - openssh

# TODO: split into ssh and sshd roles
# and run the latter as a "real user"
# to get rid of becomes
- name: Ensure directory exists
  become: true
  become_user: "{{ openssh_user_name }}"
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: 0700
  loop:
    - ~/.ssh
    - ~/.ssh/ssh_config.d
    - ~/.ssh/sockets

- name: Copy ssh config
  become: true
  become_user: "{{ openssh_user_name }}"
  ansible.builtin.copy:
    src: ssh_config
    dest: ~/.ssh/config
    mode: 0600

- name: Copy ssh conf files
  become: true
  become_user: "{{ openssh_user_name }}"
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: ~/.ssh/ssh_config.d/{{ item }}
    mode: 0600
  loop:
    - 01-ssh-devserver.conf
    - 02-ssh-homeserver.conf
    - 03-ssh-controlpersist.conf
    - 04-ssh-term.conf

- name: Copy sshd conf files
  become: true
  become_user: root
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/etc/ssh/sshd_config.d/{{ item }}"
    mode: 0644
  register: openssh_sshd_conf
  when: "item != ''"
  loop:
    - 01-basic-sshd-hardening.conf
    - "{{ '02-sshd-x11forwarding.conf' if vars.openssh_sshd_xforwarding else '' }}"
    - 03-sshd-gpg-agent.conf

- name: Start sshd
  become: true
  become_user: root
  ansible.builtin.systemd:
    name: sshd
    state: "{{ (openssh_sshd_conf.changed) | ternary('restarted', 'started') }}"
  when: openssh_start_server

- name: Enable sshd
  become: true
  become_user: root
  ansible.builtin.systemd:
    name: sshd
    enabled: true
  when: openssh_enable_server
