---
- name: Install contrib and reflector
  become: true
  become_user: root
  community.general.pacman:
    name:
      - pacman-contrib
      - reflector

- name: Enable colors
  become: true
  become_user: root
  ansible.builtin.lineinfile:
    dest: /etc/pacman.conf
    state: "present"
    regexp: "^Color"
    insertafter: "^#Color"
    line: "Color"

- name: Enable parallel downloads
  become: true
  become_user: root
  ansible.builtin.lineinfile:
    dest: /etc/pacman.conf
    state: "present"
    regexp: "^ParallelDownloads ="
    insertafter: "^#ParallelDownloads =.*$"
    line: "ParallelDownloads = {{ pacman_parallel_downloads_number }}"

- name: Multilib support 1
  become: true
  become_user: root
  ansible.builtin.lineinfile:
    dest: /etc/pacman.conf
    state: "present"
    line: "[multilib]"
    regexp: "^\\[multilib\\]"
    insertafter: "^#\\[multilib\\]"
  when: vars.pacman_enable_multilib

- name: Multilib 2
  become: true
  become_user: root
  ansible.builtin.lineinfile:
    dest: /etc/pacman.conf
    state: "present"
    line: "Include = /etc/pacman.d/mirrorlist"
    insertafter: "^\\[multilib\\]"
    regexp: "Include = /etc/pacman.d/mirrorlist"
  when: vars.pacman_enable_multilib

- name: Check if mirrorlist exists
  become: true
  become_user: root
  ansible.builtin.stat:
    path: /etc/pacman.d/mirrorlist
  register: pacman_mirrorlist_file

- name: Find faster mirrors with reflector
  become: true
  become_user: root
  ansible.builtin.command:
    cmd: reflector --latest 20 --sort rate --score 10 --save /etc/pacman.d/mirrorlist
  when: (not pacman_mirrorlist_file.stat.exists) or ((pacman_mirrorlist_file.stat.exists and pacman_mirrorlist_file.stat.isreg) and (not (lookup('ansible.builtin.file', '/etc/pacman.d/mirrorlist') | regex_search("Arch Linux mirrorlist generated by Reflector"))))
  changed_when: true

- name: Update repos
  become: true
  become_user: root
  community.general.pacman:
    update_cache: true
  when: pacman_update

- name: Upgrade packages
  become: true
  become_user: root
  community.general.pacman:
    upgrade: true
  when: pacman_upgrade
