---
- name: Install terraform tools
  become: true
  become_user: root
  community.general.pacman:
    name:
      - terraform
      - terragrunt

- name: Install tflint
  kewlfft.aur.aur:
    state: present
    name:
      - tflint-bin
  become: true
  become_user: aur_builder

- name: Template fish plugin
  ansible.builtin.include_role:
    name: helper_fish_plugin
  vars:
    helper_fish_plugin_directory_name: terraform
    helper_fish_plugin_template_name: aliases.fish
