---
- name: Install vim, neovim and spelling packages
  become: true
  become_user: root
  community.general.pacman:
    name:
      - vim
      - neovim
      - vim-spell-en
      - vim-spell-pl
      - vim-spell-de

- name: Ensure directory exists
  ansible.builtin.file:
    path: ~/.config/nvim
    state: directory
    mode: 0755

- name: Copy vim-plug bootstrap
  ansible.builtin.copy:
    src: vim-plug.vim
    dest: ~/.config/nvim/vim-plug.vim
    mode: 0644
  register: vim_plug

- name: Copy vim-plug snapshot
  ansible.builtin.copy:
    src: snapshot.vim
    dest: ~/.config/nvim/snapshot.vim
    mode: 0644
  register: vim_plug_snapshot

- name: Template neovim config
  ansible.builtin.template:
    src: vimrc
    dest: ~/.config/nvim/init.vim
    mode: 0644

- name: Copy tern config
  ansible.builtin.copy:
    src: tern-config
    dest: ~/tern-config
    mode: 0644

- name: Ensure directory exists
  ansible.builtin.file:
    path: ~/.config/nvim/
    state: directory
    mode: 0755

- name: Set up vim-plug
  ansible.builtin.get_url:
    dest: ~/.config/nvim/plug.vim
    checksum: "sha256:20b4c895f98d13848204698068c4dd031730d4e7c9c4b630d6273b9b9afcdcdb"
    url: https://raw.githubusercontent.com/junegunn/vim-plug/refs/tags/0.14.0/plug.vim
    mode: 0644
  register: vim_plug_git

- name: Download plugins if something changed
  ansible.builtin.command: nvim -es -u ~/.config/nvim/vim-plug.vim -i NONE -c "PlugInstall" -c "qa"
  when: vim_plug.changed or vim_plug_git.changed or vim_plug_snapshot.changed
  changed_when: true
