[Unit]
Description=Automatically change GPU fan speed

[Service]
Type=simple
ExecStart=/usr/bin/temperature_management.py --gpu
Restart=on-failure

[Install]
WantedBy=multi-user.target
